mixin sortable(column)
  th
    a(href=`?column=${column}&dir=${sortDir}`)
      span=column
      if sortColumn === column
        span(class=sortColumn === column ? sortDir : '')
        span.offscreen=sortDir

mixin codedCell(number)
  - const c = getThreshold(number);
  td(class=c aria-label=c)
    span=format(number)

html(lang='en-US')
  head
    title pachelbel
    style
      include pachelbel.css
  body
    h1 Query Performance Dashboard
    table
      tr
        th query text
        +sortable('fastest')
        +sortable('slowest')
        +sortable('average')
        +sortable('total')
      each row in stats
        tr
          td=row.query
          +codedCell(row.fastest)
          +codedCell(row.slowest)
          +codedCell(row.average)
          td=row.total
