table {
  border-collapse: collapse;
}

table tr:nth-child(odd) {
  background-color: #eee;
}

table tr th {
  border: 1px solid #999;
  background-color: #ccc;
}

table tr td {
  border: 1px solid #999;
}

table tr th a span.desc::before {
  display: inline-block;
  content: '';
  width: 0;
  height: 0;
  margin: 0 0 2px 4px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000;
  white-space: nowrap;
}

table tr th a span.asc::before {
  display: inline-block;
  content: '';
  width: 0;
  height: 0;
  margin: 0 0 2px 4px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  white-space: nowrap;
}

.offscreen {
  position: absolute;
  left: -999em;
}

.bad {
  background-color: #ea1;
}

.worse {
  background-color: #f55;
}
